
<%= erb :maintenance %>


<h2><%= @animal.name %></h2>
<div class="mid_container">
  <div class="col_left">
    <img src="<%= @animal.pic_image %>" alt="">
  </div>
  <div class="col_right">
    <p> <%= @animal.age %> </p>
    <p> <%= @animal.species %> </p>
    <p> <%= @shelter_name %> </p>
  </div>
</div>

<form class="" action="/animals_maintenance" method="get">
  <button type="submit">Go Back</button>

</form>

<a href="<%= request.referer %>">Go back</a>
