<div class="formContainer">
  <form class="" action="/session" method="post">
    <div class="formDetails"
      <label for="email">Email</label>
      <input type="text" name="email" value="dabc">
    </div>
    <div class="formDetails"
      <label for="password">Password</label>
      <input type="password" name="password" value="darryl">
    </div>
    <div class="formDetails">
      <label for="shelter">Shelter</label>
      <select  name="shelter_id">
        <% @shelters.each do |shelter| %>
          <% if shelter.name == "Melbourne" %>
            <option value=" <%= shelter.id %> " selected><%= shelter.name %></option>
          <% else %>
            <option value=" <%= shelter.id %> "><%= shelter.name %></option>
          <% end %>
        <% end %>
      </select>
    </div>
    <div class="formDetails">
      <button type="submit" >Login</button>
    </div>
    <div class="formDetails">
      <p> <%= @message %> </p>
    </div>

  </form>



</div>
