<div class="maintenance_heading">
  <!-- <h2>Editing Animal</h2> -->
  <a href="/client/new">New Client</a>
  <p> <%= @message %></p>
</div>
<!-- <ul> -->
  <div class="display_container">
    <% @clients.each do |client| %>
    <!-- <li> -->
      <div class="display_item">
        <p class="display_item_name"><%= client.name %> </p>
        <img class="display_item_img" src="<%= client.pic_image %> " alt="">
        <p class="display_item_name"><%= "Phone: #{client.phone}, <br>Email: #{client.email}, #{Shelter.find(client.shelter_id).name}" %> </p>
        <nav>
          <!-- <p class="display_item_name">Pets -->
            <a href="/adopt_animal/<%= client.id %>">Adopt A Pet</a>
          <!-- </p> -->
        </nav>
        <% if logged_in? %>
          <div class="crud_btns">
            <form class="" action="/client/<%= client.id %>/edit" method="get">
              <button type="submit" >Edit</button>
            </form>
            <form class="" action="/client/<%= client.id %>" method="post">
              <input type="hidden" name="_method" value="delete">
              <button type="submit" >Delete</button>
            </form>
            <!-- <form class="" action="/animal/<%#= animal.id %>" method="get">
              <button type="submit" >View</button>
            </form> -->
          </div>
        <% end %>
        <p class="display_item_name">Pets</p>
        <div class="display_container">
          <% if !client.animals.empty? %>
            <% client.animals.each do |pet| %>
              <div class="display_item">
                <p class="display_item_name_small"><%= pet.name %></p>
                <img class="img_small" src="<%= pet.pic_image %>" alt="">
                <div class="return">
                  <a href="/return_animal/<%= pet.id %>">Return</a>
                </div>
              </div>
            <% end %>
          <% else %>
            <div class="display_no_pet">
              <img  src="https://baggybulldogs.files.wordpress.com/2012/08/adopt-a-pet.jpg" alt="">
            </div>

          <% end %>
        </div>
      </div>
  <!-- </li> -->
    <% end %>
  </div>

<!-- </ul> -->
