
<div class="maintenance_heading">
  <h2>Editing Client</h2>
  <p> <%= @message %></p>
</div>

<div class="formContainer">
  <form class="" action="/client/<%= @client.id %>" method="post">
    <input type="hidden" name="_method" value="put">
    <div class="formDetails"
      <label for="name">Name</label>
      <input type="text" name="name" value="<%= @client.name %>">
    </div>
    <div class="formDetails"
      <label for="pic_image">Picture</label>
      <textarea name="pic_image" ><%= @client.pic_image %></textarea>
    </div>
    <div class="formDetails"
      <label for="phone">Phone</label>
      <input type="text" name="phone" value="<%= @client.phone %>">
    </div>
    <div class="formDetails"
      <label for="email">Email</label>
      <input type="text" name="email" value="<%= @client.email %>">
    </div>
    <div class="formDetails">
      <label for="shelter_id">Shelter</label>
      <select class="" name="shelter_id">
        <% @shelters.each do |shelter| %>
          <% if @client.shelter_id == shelter.id %>
            <option value="<%= shelter.id %>" selected><%= shelter.name %></option>
          <% else %>
            <option value="<%= shelter.id %>" ><%= shelter.name %></option>
          <% end %>
      <% end %>
      </select>
    </div>
    <div class="formDetails">
      <button type="submit" >Submit</button>
      <a class="go_back" href="<%= request.referer %>">Go back</a>
    </div>

  </form>
</div>
